.important-buttons {
  padding: 2rem 0;
}

.important-buttons .heading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;

  @media #{$xs-layout} {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 1;
  }
}


.imp_buttons {
  font: inherit;
  padding: 1rem 1.5rem;
  outline: none;
  border: 0;
  border-radius: 5px;
  // background: #1877f2;
  // ;
  color: white;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  width: 80%;
  transition: all 0.5s;

  &:hover,
  &:active {
    background: $theme-hover-color;
    border-color: $theme-hover-color;
    color: #fff;
  }

  &:focus {
    outline: none;
  }
}

.imp_buttons.orange {
  background-color: #e75c17;
}

.imp_buttons.green {
  background-color: #00a63f;
}

.imp_buttons.blue {
  background-color: #3f4fb0;
}