.partial-formContainer {
    height: 61.5vh;

    .form-title {
        text-align: center;
        margin-top: 2rem;
    }

    .form-group {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;

        @media #{$xs-layout} {
            gap: 1rem;
            flex-direction: column;
        }



        .form-label {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }

    .submit-buttonPartial {
        // width: ;
        background: $primary-gradient;
        color: white;
        border: none;
        padding: 1rem 3.5rem;
        font-size: 1.1rem;
        font-weight: 600;
        border-radius: 12px;
        cursor: pointer;
        transition: all 0.3s ease;
        margin: 1rem auto; // This centers the button horizontally
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        overflow: hidden;
    }
}