@import "~bootstrap/scss/bootstrap.scss";

@import "variable";
@import "base";
@import "title";
@import './Apply2.scss';
@import './apply3.scss';
@import './apply4.scss';
@import './apply5.scss';
@import './apply6.scss';
@import'./visaPaymentForm.scss'; 
@import "hero";
@import './visaApplicationForm.scss';
@import'./formQuestion.scss';
@import './preview.scss';
@import './pagescommanDesign.scss';
@import './importantButtons.scss';
@import './homePageContent.scss';
@import'./whychooseUs.scss';
@import './whatsappButton.scss';
@import './PartialFilled.scss';
@import "career";
@import "button";
@import "navbar";
@import "testimonial";
@import "footer";
@import "newsletter";
@import "features";
@import "blog";
@import "backdrop";
@import "modal";
@import "./Navigation/mainheader.scss";
@import "./Navigation/mainnavigation.scss";
@import "./Navigation/navlinks.scss";
@import "./Navigation/sidedrawer.scss";



@import "contact";
@import "form";
@import "iput";
@import "sidebar";
@import "Slider";
@import "checkbox";
@import "nodata";
